/* Global */ 

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'PT Sans', sans-serif;
    color: #303952;
    letter-spacing: 1px;
}

section {
    padding: 0 0 48px 0;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.section-title {
    font-size: 48px;
    margin: 0 0 36px 0;
}

.page-title, .good-luck, .section-title {
    font-family: 'Oswald', sans-serif;
}

/* Splash */ 

.splash {
    background-color: #786fa6;
    min-height: 400px;
    display: flex;
}

.splash-inner {
    margin: auto;
}

.page-title {
    color: #fff;
    font-size: 60px;
    margin: 0;
}

.page-subtitle {
    color: #fff;
    font-size: 16px;
    margin: 24px 0;
}

/* Instructions */ 

.good-luck {
    font-weight: 400;
    font-size: 24px;
}